.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    background-color: #FFF;
    padding: 20px;
    font-size: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.item h3 {
    font-size: 32px;
    margin: 5px 0;
}


/* Page */

.page {
    background-color: #FFF;
    padding: 40px;
    display: flex;

    box-shadow: 0 0 50px rgba(0, 0, 0, .15);
    transform: scale(0);
    animation: scale .3s ease forwards;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price {
    font-size: 28px;
    margin: 10px 0;
}

.image {
    width: 500px;
    min-width: 500px;
}

.listItem {
    display: flex;
    gap: 10px;
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
}

.listItem h3 {
    margin: 3px 0;
}

.listItemInfo div {
    margin: 0 0 0 7px;
}

.addToCard {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #efefef;
    background-color: rgb(38, 111, 180);
    cursor: pointer;
}

.addToCard:hover {
    background-color: rgb(38, 78, 180);
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to  {
        transform: scale(1);
    }
}
